{% include 'header.html' %}
<div id="content">
  <div class="container" id="about">
    <div class="row"> 
      <!-- sidebar -->
      <div class="col-md-3 sidebar">
        <div class="section-menu">
          <ul class="nav nav-list">
            <li class="nav-header">栏目标题</li>
            <li  class="active"><a href="../about.htm" class="first">关于学会 <small>学会历程</small><i class="fa fa-angle-right"></i></a></li>
            <li><a href="../organization.htm">学会架构 <small>如何组成</small><i class="fa fa-angle-right"></i></a></li>
            <li><a href="../team.htm">学会专家 <small>学会之星 </small><i class="fa fa-angle-right"></i></a></li>
            <li><a href="../contact.htm">联系我们<small>给我们留言</small><i class="fa fa-angle-right"></i></a></li>
          </ul>
        </div>
      </div>
      
      <!--main content-->
      <div class="col-md-9">
        <h2 class="title-divider"><span>关于 <span class="de-em">重庆市无损检测学会</span></span> </h2>
        
        <!-- About company -->
        <h4>重庆市无损检测学会简况</h4>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在重庆市科协和机械工程学会的领导下，无损检测人员的积极努力，1979年10月7日在重庆红岩机器厂成立了重庆市机械工程学会无损检测专业委员会，同时召开了第一届无损检测学术交流会。市科协领导、省学会代表、各行业代表200多人参加了大会。第一届无损检测专业委员会主任严大卫，秘书长李足弟，有会员16人。正值党的十一届三中全会胜利召开后，全国政治局面稳定，经济开始快速发展，当时的无损检测技术却比较落后，器材缺乏，工业生产的需要和无损检测现状的矛盾突出。第一届无损检测专业委员会抓住机遇，发挥学会跨行业、人才荟萃的优势，集思广益、群策群力做了大量的卓有成效的对会服务工作。</br>
        
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1985年春在重庆机械局理化计量中心站召开了第二届会员大会，进行了学术交流，选举了无损检测专业委员会，严大卫等连任学会领导成员。</br> 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1990年3月在重庆机械局理化计量中心站召开了无损检测专业委会会员人会，进行了技术交流，选举了第三届专业委员会领导成员。主任委员陶照之、秘书长李足弟，会员5l人。随着经济建设的高速发展；计划经济向市场经济过渡；无损检测技术的进步；出现了新的局面和新的情况。对学会的作用认识不足，影响了无损检测专业委员会的工作开展。</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1994年11月在152厂召开了无损检测专业委员会全体委员会议，推举了重庆市第四届无损检测专业委员会领导成员。主任委员刘连仲、付主任委员苏炳华、鞠清龙，有会员48人。98年增补陈罕新为付主任委员兼秘书长。第四届无损检测专业委员会认识到。在改革的形势下，用好知识经济，作为一个中介机构的学会，充分发挥优势，能够发挥更大的作用。从组织建设着手，开展了多方面的工作，学会初现了转机。 为了对外交往和工作的便利，经市机械工程学会批准1998年3月无损检测专业委员会启用另一名称一重庆市无损检测学会。 </br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1999年6月在重庆石油宾馆召开了无损检测学会全体委员会议，中心议题是组织建设。选好挂靠单位，由素质好、热情高、有事业心、有能力、具有奉献精神的中青年人组成重庆直辖后第一届无损检测学会领导班子。经过充分讨论，选举了王以朗为理事长的领导集体，并决定成立秘书处加强学会工作。会员119人，重庆市无损检测学会呈现新的局面，工作会更多、更好。</br>
        </p>
        <h4>学会历史</h4>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;无损检测学会於1978年11月在上海成立。而学会成立的前后有一段历史是值得回忆的，那还是在1976年8月，中国机械工程学会组团参加在法国嘎纳召开的第八届世界无损检测会议。在行前，组成了以当时时任机械工业部科技司司长陶亨咸同志为团长的代表团，代表团成员有：时任科技司质量处处长翁世功、汕头超研所姚锦钟、上海材料所周怀宇、丹东射线仪器厂赵久、航空材料研究所李家伟，合肥通用研究所康纪黔、上海龙华飞机厂王均强以及翻译等九人。出发前代表团了解考察了当时无损检测技术国内应用水平和现况，做了充分的准备。<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;这是中国无损检测界第一次参加世界无损检测会议，是非常难得的机会，会议期间，陶亨咸同志与德意志联邦共和国无损检测学会主席考比耐克先生建立了十分友好的关系。会议结束后，应考比耐克的邀请，前往德国参观访问，德国的无损检测技术是十分先进的，在国际上也处於领先的地位。对我们代表团是一次开阔视野，了解先进无损检测技术之旅，这次的参加世界会和考察访问，是我国成立无损检测学会的前奏曲，是一次思想的准备。<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;代表团回国后，翁世功处长撰写了参加会议和考察访问的总结报告，总结全面的、深入的介绍了会议的动态和国际无损检测技术水平的发展状况和水平。它对推动我国无损检测技术的应用与发展起到了十分重要的作用，也为学会的成立并与国外建立联系起着极重要的作用。就目前看这份总结也是最好、最全面的总结。1978年学会成立之时，我们可以看到陶亨咸司长所具有的前瞻性思想。<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1977年陶亨咸司长即考虑要尽快成立无损检测学会，这是工业发展的需要。他指示进行筹备工作。<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;随后上海材料研究所第二研究室的一些同志组成成立学会的筹备小组。小组分头与国内各工业系统的企业、研究院所共同协商学会理事会的组成，由各系统推荐有关人员参加学会理事会，陶亨咸同志特别指出，这个学会不是机械工业部一家的学会，而是全国各工业系统、地方共同参与的学会，要有充分的代表性。经过一年多的筹备。于1978年11月在上海召开了无损检测年会并同时宣告学会成立。这次年会邀请了德意志联邦共和国无损检测学会的主席考比耐克先生，副主席蒙德策先生，沙伯尔先生参加学会的成立大会。这意味着我们的无损检测学会成立之时就与国际上建立了联系。这为我们无损检测学会走出国门，步入世界无损检测的行列准备了条件。这不能不归功于陶亨咸同志远见灼识和重要贡献。<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;德国友人在这次年会上特别介绍了无损检测人员培训和人员资格鉴定的重要意义，并赠送德国人员培训的教材，意义特别重要。随后，学会组织了人员翻译，这为我国建立起三级制的无损检测人员资格的体制提供了借鉴，少走了弯路。<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第一届年会组成了以应崇福教授为理事长的理事会。年会后中德两学会在北京就合作事宜进行了会谈达成了共识，来推动两国学会的进一步联系。<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1979年5月德国工程师学会和德国无损检测学会同时间召开年会，我国机械工程学会和无损检测学会受到了邀请。中国机械工程学会与无损检测学会组成了以时任机械工程学会理事长汪道函为团长，陶亨咸为副团长的一个代表团参加德国两个学会的年会。代表团成员有：无损检测学会理事长应崇福教授（先期在德国参加一国际声学学术会议，后汇合），北京机床研究所张世萤教授，上海材料研究所王务同同志，机械部外事局处长陈仁慧同志。这次去德国除参加年会，会后参观考察了德国许多知名的研究院所，以及知名的大企业，如：联邦材料研究院，沙勃留肯无损检测研究所，材料失效与防失效研究所，西门子研究中心，K.K公司，福斯特研究所，卡尔德意志公司，台马克重型机械厂，霍依斯钢厂，BENZ汽车制造厂等，了解了德国无损检测技术的发展状况和在工矿企业中所发挥的重要作用。代表团在德国期间分别同德国工程师学会与无损检测学会进一步合作进行了协商。为后来两国无损检测人员资格互认打下了基础。<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1981年第二届无损检测年会在北戴河召开，会议邀请了德国和日本无损检测学会参加，德国和日本无损检测学会均分别以学会主席为团长的代表团参加，盛况空前。<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年会受到了时任中国科协主席周培源教授的重视并亲临北戴河参加会议，并作了重要讲话。会议期间周培源主席分别接见了德国和日本的无损检测代表团全体成员。<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;回顾这段学会成立前后的历史以及无损检测学会的发展壮大和无损检测技术的提高和进步是我们许多同志多年不断努力的结果。<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;特别应提到的是中国无损检测学会的创始人陶亨咸院士，他对我国无损检测事业和无损检测学会倾注了大量的心血，使学会一成立就实现与世界接轨。我们也不能忘记德高望重的第一届、第二届理事长应崇福院士对学会成立初期和尔后所发挥的强有力的领导与指导。 <br /></p>
      </div>
    </div>
  </div>
</div>


{% include 'footer.html'%}