{% include 'header.html'%}
<div id="highlighted" class="container"> 
  <!--
      Showshow - Slider Revolution
      see: plugins/slider-revolution/examples for help
      -->
  <div class="slider-wrapper tp-banner-container tp-resizeme" data-page-class="slider-boxed slider-appstrap-theme">
    <div class="tp-banner" data-toggle="slider-rev" data-delay="9000" data-startwidth="1170" data-startheight="420">
      <ul>
        <!-- SLIDE 1 -->
        <li class="slide" data-transition="fade" data-slotamount="5" data-masterspeed="1800"> <img src="{{STATIC_URL}}img/patterns/white_wall_hash.png" alt="slidebg1"  data-bgfit="normal" data-bgposition="left top" data-bgrepeat="repeat"> 
          
          <!-- SLIDE 1 Content-->
          <div class="slide-content"> 
            <!--elements within .slide-content are pushed below navbar on "behind"-->
            <div class="tp-caption sfb ltl"
                  data-x="10"
                  data-y="50"
                  data-speed="400"
                  data-start="800"
                  data-easing="Back.easeOut"
                  data-endspeed="500"
                  data-endeasing="Back.easeIn"
                  data-captionhidden="on"> <img src="{{STATIC_URL}}img/slides/slide-1.png" alt="Slide 1"  /> </div>
            <h1 style="font-family:'微软雅黑';font-weight:bolder" class="tp-caption customin randomrotateout"
                  data-x="700"
                  data-y="120"
                  data-speed="400"
                  data-start="1200"
                  data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                  data-easing="Back.easeOut"
                  data-endspeed="400"
                  data-endeasing="Back.easeIn">重庆市无损检测学会</h1>
            <h3 class="tp-caption customin randomrotateout"
                  data-x="700"
                  data-y="160"
                  data-speed="400"
                  data-start="1400"
                  data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                  data-easing="Back.easeOut"
                  data-endspeed="400"
                  data-endeasing="Back.easeIn"><a href="#">ChongQing Institute of NDT</a></h3>
            <a href="#" class="tp-caption customin randomrotateout btn btn-lg btn-primary"
                  data-x="700"
                  data-y="200"
                  data-speed="400"
                  data-start="1800"
                  data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                  data-easing="Back.easeOut"
                  data-endspeed="400"
                  data-endeasing="Back.easeIn">最新资讯</a>
              <a href="#" class="tp-caption customin randomrotateout btn btn-lg btn-primary"
                  data-x="820"
                  data-y="200"
                  data-speed="400"
                  data-start="2000"
                  data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                  data-easing="Back.easeOut"
                  data-endspeed="400"
                  data-endeasing="Back.easeIn">学会活动</a> </div>
        </li>
        <!-- SLIDE 2 -->
        <li data-transition="curtain-1" data-slotamount="4" data-masterspeed="500">
            <img src="{{STATIC_URL}}img/patterns/lightpaperfibers.png" alt="slidebg1" data-bgfit="normal" data-bgposition="left top" data-bgrepeat="repeat">

            <!-- SLIDE 2 Content -->
            <div class="slide-content">
              <!--elements within .slide-content are pushed below navbar on "behind"-->
              <div class="tp-caption sfb ltr" data-x="left" data-y="bottom" data-speed="900" data-start="1200" data-easing="Elastic.easeOut" data-endspeed="200" data-endeasing="Power0.easeInOut">
                <img src="{{STATIC_URL}}img/slides/slide_layer_1.png" alt="Slide 2 layer 1">
              </div>
              <div class="tp-caption sfb ltr" data-x="right" data-y="bottom" data-speed="700" data-start="1900" data-easing="Elastic.easeOut" data-endspeed="200" data-endeasing="Power0.easeInOut">
                <img src="{{STATIC_URL}}img/slides/slide_layer_3.png" alt="Slide 2 layer 2">
              </div>
              <div class="tp-caption sfb ltr" data-x="center" data-y="bottom" data-speed="900" data-start="1500" data-easing="Elastic.easeOut" data-endspeed="200" data-endeasing="Power0.easeInOut">
                <img src="{{STATIC_URL}}img/slides/slide_layer_2.png" alt="Slide 2 layer 3">
              </div>
              <h1 style="font-family:'微软雅黑';font-size:36pt;font-weight:bolder" class="tp-caption  sfb randomrotateout" data-x="center" data-y="15" data-speed="1500" data-start="2300" data-easing="Elastic.easeOut" data-endspeed="200"
              data-endeasing="Power0.easeInOut">欢迎访问学会网站</h1>
            </div>
          </li>
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!--end of tp-banner--> 
  </div>
</div>
  <div id="content">
    <div class="container">
      <!-- Services -->
      <div class="block features">
        <h2 class="title-divider">
          <span style="font-family:'微软雅黑'">学会职能
          </span>

        </h2>
        <div class="row">
          <div class="feature col-sm-6 col-md-3">
            <a href="features.htm">
              <img src="{{STATIC_URL}}img/features/feature-4.png" alt="Feature 1" class="img-responsive">
            </a>
            <h3 class="title">
              <a href="features.htm">教育培训&技术资格认证
              </a>
            </h3>
            <p style="line-height:25px; font-size:small">重庆直辖后，经中国无损检测学会批准，1998年2月2日成立了重庆市无损检测人员资格认证委员会。按照GB9445－88“无损检测人员技术资格鉴定通则”进行人员培训和认证工作，培训和认证工作开始了新的历程。</p>
          </div>
          <div class="feature col-sm-6 col-md-3">
            <a href="features.htm">
              <img src="{{STATIC_URL}}img/features/feature-2.png" alt="Feature 2" class="img-responsive">
            </a>
            <h3 class="title">
              <a href="features.htm">编辑出版工作
              </a>
            </h3>
            <p style="line-height:25px; font-size:5pt">1983年汇编无损检测标准1册，印制251本；编印国外无损检测资料汇编120份。1984年为第三届中国无损检测学会学术交流会印论文集2000本；编辑出版了工业无损检测杂志。1996年编印“96重庆NDT会议”论文集300多本。</p>
          </div>
          <div class="feature col-sm-6 col-md-3">
            <a href="features.htm">
              <img src="{{STATIC_URL}}img/features/feature-3.png" alt="Feature 3" class="img-responsive">
            </a>
            <h3 class="title">
              <a href="features.htm">承担检测工程
              </a>
            </h3>
            <p style="line-height:25px; font-size:5pt">1981年，受北京焦化厂的委托，对在役煤气罐进行射线、超声、磁粉的全面检测。当年又对天燃气公司1000立方米小苑球罐进行了无损检测。1982年以后，先后承担了重庆合成化工厂、红宇机械厂、重庆水泥厂等单位的无损检测工程。</p>
          </div>
          <div class="feature col-sm-6 col-md-3">
            <a href="features.htm">
              <img src="{{STATIC_URL}}img/features/feature-1.png" alt="Feature 4" class="img-responsive">
            </a>
            <h3 class="title">
              <a href="features.htm">组织建设
              </a>
            </h3>
            <p style="line-height:25px; font-size:5pt">会员是学会的基本队伍，学会大力加强会员的发展，会籍管理和会员服务工作。重庆直辖后，会员进行重新登记，为会员发了新的会员证书并及时通报了国内外学术交流信息和重庆市无损检测学会动态。起草了重庆市无损检测学会条例和发展单位会员的通知，发展了新会员72人，单位会员2个。</p>
          </div>
        </div>
      </div>

      <!--Pricing Table-->
      <div class="block">
        <h2 class="title-divider">
          <span style="font-family:'微软雅黑'">加入学会
          </span>
        </h2>
        <div class="row pricing-stack">
          <div class="col-md-4">
            <div class="well active">
              <h3 class="title">
                <span class="em">个人会员</span>
              </h3>
              <p class="price">
                
                <span class="digits">免费</span>
              </p>
              <ul class="unstyled points" style="line-height:25px;font-size:5pt">
                <li>欢迎成为个人会员</li>
                <li>您能参与到学会的各项会议</li>
                <li>能够给学会提供更多宝贵意见</li>
                <li>能够依托为您的企业作宣传</li>
              </ul>
              <a class="btn btn-primary">加入</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="well active">
              <h3 class="title">
                <span class="em">企业会员</span>
              </h3>
              <p class="price">
                <span class="currency">￥</span>
                <span class="digits">9900
                </span>
                <span class="term">/YEAR</span>
              </p>
              <ul class="unstyled points" style="line-height:25px;font-size:5pt">
                <li>欢迎成为个人会员</li>
                <li>您能参与到学会的各项会议</li>
                <li>能够给学会提供更多宝贵意见</li>
                <li>能够依托为您的企业作宣传</li>
              </ul>
              <a class="btn btn-primary">加入</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="well active">
              <h3 class="title">
                <span class="em">理事单位</span>
              </h3>
              <p class="price">
                <span class="currency">￥</span>
                <span class="digits">19900
                </span>
                <span class="term">/YEAR</span>
              </p>
              <ul class="unstyled points" style="line-height:25px;font-size:5pt">
                <li>欢迎成为个人会员</li>
                <li>您能参与到学会的各项会议</li>
                <li>能够给学会提供更多宝贵意见</li>
                <li>能够依托为您的企业作宣传</li>
              </ul>
              <a class="btn btn-primary">加入</a>
            </div>
          </div>
          
        </div>
        <div class="row">
          <!-- Plan features -->
          <div class="well well-sm text-center">
            <h4 class="inline-el pad-right">
              <span>预留模块</span>
            </h4>
            <p class="inline-el pad-left muted"></p>
          </div>
        </div>
      </div>

      <!--Customer testimonial-->
      <div class="block testimonials margin-top-large">
        <h2 class="title-divider">
          <span style="font-family:'微软雅黑'">专家介绍
            <span class="de-em">(部分)</span>
          </span>
        </h2>
        <div class="row">
          <div class="col-md-2">
            <div>
            <p>
              <img src="{{STATIC_URL}}img/team/jobs@2x.jpg" class="img-thumbnail"></p>
              <small>
                Steve Jobs
                <span class="spacer">/</span>
                <a href="#">Founder of Apple</a>
              </small>
              <div class="shBl">
              </div>
              <div class="shBlFlod">
              </div>
              <div class="ribbon">
              </div>
             </div>
          </div>
          <div class="col-md-2">
            <div>
            <p>
              <img src="{{STATIC_URL}}img/team/jobs@2x.jpg" class="img-thumbnail"></p>
              <small>
                Steve Jobs
                <span class="spacer">/</span>
                <a href="#">Founder of Apple</a>
              </small>
              <div class="shBl">
              </div>
              <div class="shBlFlod">
              </div>
              <div class="ribbon">
              </div>
             </div>
          </div>
          <div class="col-md-2">
            <div>
            <p>
              <img src="{{STATIC_URL}}img/team/jobs@2x.jpg" class="img-thumbnail"></p>
              <small>
                Steve Jobs
                <span class="spacer">/</span>
                <a href="#">Founder of Apple</a>
              </small>
              <div class="shBl">
              </div>
              <div class="shBlFlod">
              </div>
              <div class="ribbon">
              </div>
             </div>
          </div>
          <div class="col-md-2">
            <div>
            <p>
              <img src="{{STATIC_URL}}img/team/jobs@2x.jpg" class="img-thumbnail"></p>
              <small>
                Steve Jobs
                <span class="spacer">/</span>
                <a href="#">Founder of Apple</a>
              </small>
                <div class="shBl">
                </div>
                <div class="shBlFlod">
                </div>
                <div class="ribbon">
                </div>
             </div>
          </div>
          <div class="col-md-2">
            <div>
            <p>
              <img src="{{STATIC_URL}}img/team/jobs@2x.jpg" class="img-thumbnail"></p>
              <small>
                Steve Jobs
                <span class="spacer">/</span>
                <a href="#">Founder of Apple</a>
              </small>
                <div class="shBl">
                </div>
                <div class="shBlFlod">
                </div>
                <div class="ribbon">
                </div>
             </div>
          </div>
          <div class="col-md-2">
            <div>
            <p>
              <img src="{{STATIC_URL}}img/team/jobs@2x.jpg" class="img-thumbnail"></p>
              <small>
                Steve Jobs
                <span class="spacer">/</span>
                <a href="#">Founder of Apple</a>
              </small>
                <div class="shBl">
                </div>
                <div class="shBlFlod">
                </div>
                <div class="ribbon">
                </div>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

{%include 'footer.html'%}