{%include 'header.html'%}
<div id="content">
  <div class="container">
    <h2 class="title-divider"><span>新闻动态</span></h2>
    <div class="row"> 
      <!--Blog Roll Content-->
      <div class="col-md-9 blog-roll blog-list"> 
        
        <!-- Blog post -->
        <div class="media row">
          <div class="col-md-1 date-md"> 
            <!-- Date desktop -->
            <div class="date-wrapper"> <span class="date-m">11月</span> <span class="date-d">29</span> </div>
            <!-- Meta details desktop -->
            <p class="muted"> <i class="fa fa-user"></i> <a href="#">CQNDT</a> </p>
          </div>
          <div class="col-md-11 media-body">
            <h4 class="title media-heading"><a href="../news-post.htm">我国掌握远距离、可视化激光超声波无损检测技术</a></h4>
            
            <!-- Meta details mobile -->
            <ul class="list-inline meta text-muted">
              <li><i class="fa fa-calendar"></i> Sat 22nd Feb 2014</li>
              <li><i class="fa fa-user"></i> <a href="#">CQNDT</a></li>
            </ul>
            <a href="../news-post.htm" class="media-object"> <img src="{{STATIC_URL}}img/blog/ape.jpg" alt="Picture of frog by Ben Fredericson" class="img-responsive" /> </a>
            <p>新华网西安１１月２８日电 由西安金波检测仪器有限责任公司自主研发的激光超声波可视化检测仪，２８日在西安国家航空基地通过了陕西省科技成果鉴定，这标志着我国成功掌握了远距离、可视化激光超声波无损检测技术，大大缩小了与世界发达国家在无损检测仪器研制方面的差距。</p>
            <p>无损检测，是用非破坏方法检查材料、毛坯和零件的内部或表面缺陷并评价其整体质量的技术，又称无损探伤。长期以来，我国在无损检测方面与西方发达国家存在不小的差距，尤其是在碳纤维复合材料、陶瓷基复合材料等新型材料的无损检测方面还缺乏有效的手段。</p>
            <ul class="list-inline links">
              <li><a href="../news-post.htm" class="btn btn-default btn-xs"><i class="fa fa-circle-arrow-right"></i> 阅读全文</a></li>
              <li><a href="../news-post.htm#comments" class="btn btn-default btn-xs"><i class="fa fa-comment"></i> 0 条评论</a></li>
            </ul>
          </div>
        </div>
        
        <!-- Blog post -->
        <div class="media row">
          <div class="col-md-1 date-md"> 
            <!-- Date desktop -->
            <div class="date-wrapper"> <span class="date-m">11月</span> <span class="date-d">29</span> </div>
            <!-- Meta details desktop -->
            <p class="muted"> <i class="fa fa-user"></i> <a href="#">CQNDT</a> </p>
          </div>
          <div class="col-md-11 media-body">
            <h4 class="title media-heading"><a href="../news-post.htm">我国掌握远距离、可视化激光超声波无损检测技术</a></h4>
            
            <!-- Meta details mobile -->
            <ul class="list-inline meta text-muted">
              <li><i class="fa fa-calendar"></i> Sat 22nd Feb 2014</li>
              <li><i class="fa fa-user"></i> <a href="#">CQNDT</a></li>
            </ul>
            <p>新华网西安１１月２８日电 由西安金波检测仪器有限责任公司自主研发的激光超声波可视化检测仪，２８日在西安国家航空基地通过了陕西省科技成果鉴定，这标志着我国成功掌握了远距离、可视化激光超声波无损检测技术，大大缩小了与世界发达国家在无损检测仪器研制方面的差距。</p>
            <p>无损检测，是用非破坏方法检查材料、毛坯和零件的内部或表面缺陷并评价其整体质量的技术，又称无损探伤。长期以来，我国在无损检测方面与西方发达国家存在不小的差距，尤其是在碳纤维复合材料、陶瓷基复合材料等新型材料的无损检测方面还缺乏有效的手段。</p>
            <ul class="list-inline links">
              <li><a href="../news-post.htm" class="btn btn-default btn-xs"><i class="fa fa-circle-arrow-right"></i> 阅读全文</a></li>
              <li><a href="../news-post.htm#comments" class="btn btn-default btn-xs"><i class="fa fa-comment"></i> 0 条评论</a></li>
            </ul>
          </div>
        </div>
        
        <!-- Blog post -->
        <div class="media row">
          <div class="col-md-1 date-md"> 
            <!-- Date desktop -->
            <div class="date-wrapper"> <span class="date-m">11月</span> <span class="date-d">29</span> </div>
            <!-- Meta details desktop -->
            <p class="muted"> <i class="fa fa-user"></i> <a href="#">CQNDT</a> </p>
          </div>
          <div class="col-md-11 media-body">
            <h4 class="title media-heading"><a href="../news-post.htm">我国掌握远距离、可视化激光超声波无损检测技术</a></h4>
            
            <!-- Meta details mobile -->
            <ul class="list-inline meta text-muted">
              <li><i class="fa fa-calendar"></i> Sat 22nd Feb 2014</li>
              <li><i class="fa fa-user"></i> <a href="#">CQNDT</a></li>
            </ul>
            <a href="../news-post.htm" class="media-object"> <img src="{{STATIC_URL}}img/blog/bee.jpg" alt="Picture of frog by Ben Fredericson" class="img-responsive" /> </a>
            <p>新华网西安１１月２８日电 由西安金波检测仪器有限责任公司自主研发的激光超声波可视化检测仪，２８日在西安国家航空基地通过了陕西省科技成果鉴定，这标志着我国成功掌握了远距离、可视化激光超声波无损检测技术，大大缩小了与世界发达国家在无损检测仪器研制方面的差距。</p>
            <p>无损检测，是用非破坏方法检查材料、毛坯和零件的内部或表面缺陷并评价其整体质量的技术，又称无损探伤。长期以来，我国在无损检测方面与西方发达国家存在不小的差距，尤其是在碳纤维复合材料、陶瓷基复合材料等新型材料的无损检测方面还缺乏有效的手段。</p>
            <ul class="list-inline links">
              <li><a href="../news-post.htm" class="btn btn-default btn-xs"><i class="fa fa-circle-arrow-right"></i> 阅读全文</a></li>
              <li><a href="../news-post.htm#comments" class="btn btn-default btn-xs"><i class="fa fa-comment"></i> 0 条评论</a></li>
            </ul>
          </div>
        </div>
        
        <!-- Blog post -->
        <div class="media row">
          <div class="col-md-1 date-md"> 
            <!-- Date desktop -->
            <div class="date-wrapper"> <span class="date-m">11月</span> <span class="date-d">29</span> </div>
            <!-- Meta details desktop -->
            <p class="muted"> <i class="fa fa-user"></i> <a href="#">CQNDT</a> </p>
          </div>
          <div class="col-md-11 media-body">
            <h4 class="title media-heading"><a href="../news-post.htm">我国掌握远距离、可视化激光超声波无损检测技术</a></h4>
            
            <!-- Meta details mobile -->
            <ul class="list-inline meta text-muted">
              <li><i class="fa fa-calendar"></i> Sat 22nd Feb 2014</li>
              <li><i class="fa fa-user"></i> <a href="#">CQNDT</a></li>
            </ul>
            <a href="../news-post.htm" class="media-object"> <img src="{{STATIC_URL}}img/blog/butterfly.jpg" alt="Picture of frog by Ben Fredericson" class="img-responsive" /> </a>
            <p>新华网西安１１月２８日电 由西安金波检测仪器有限责任公司自主研发的激光超声波可视化检测仪，２８日在西安国家航空基地通过了陕西省科技成果鉴定，这标志着我国成功掌握了远距离、可视化激光超声波无损检测技术，大大缩小了与世界发达国家在无损检测仪器研制方面的差距。</p>
            <p>无损检测，是用非破坏方法检查材料、毛坯和零件的内部或表面缺陷并评价其整体质量的技术，又称无损探伤。长期以来，我国在无损检测方面与西方发达国家存在不小的差距，尤其是在碳纤维复合材料、陶瓷基复合材料等新型材料的无损检测方面还缺乏有效的手段。</p>
            <ul class="list-inline links">
              <li><a href="../news-post.htm" class="btn btn-default btn-xs"><i class="fa fa-circle-arrow-right"></i> 阅读全文</a></li>
              <li><a href="../news-post.htm#comments" class="btn btn-default btn-xs"><i class="fa fa-comment"></i> 0 条评论</a></li>
            </ul>
          </div>
        </div>
        
        <!-- Blog post -->
        <div class="media row">
          <div class="col-md-1 date-md"> 
            <!-- Date desktop -->
            <div class="date-wrapper"> <span class="date-m">11月</span> <span class="date-d">29</span> </div>
            <!-- Meta details desktop -->
            <p class="muted"> <i class="fa fa-user"></i> <a href="#">CQNDT</a> </p>
          </div>
          <div class="col-md-11 media-body">
            <h4 class="title media-heading"><a href="../news-post.htm">我国掌握远距离、可视化激光超声波无损检测技术</a></h4>
            
            <!-- Meta details mobile -->
            <ul class="list-inline meta text-muted">
              <li><i class="fa fa-calendar"></i> Sat 22nd Feb 2014</li>
              <li><i class="fa fa-user"></i> <a href="#">CQNDT</a></li>
            </ul>
            <a href="../news-post.htm" class="media-object-full"> <img src="{{STATIC_URL}}img/blog/butterfly.jpg" alt="Picture of frog by Ben Fredericson" class="img-responsive" /> </a>
            <p>新华网西安１１月２８日电 由西安金波检测仪器有限责任公司自主研发的激光超声波可视化检测仪，２８日在西安国家航空基地通过了陕西省科技成果鉴定，这标志着我国成功掌握了远距离、可视化激光超声波无损检测技术，大大缩小了与世界发达国家在无损检测仪器研制方面的差距。</p>
            <p>无损检测，是用非破坏方法检查材料、毛坯和零件的内部或表面缺陷并评价其整体质量的技术，又称无损探伤。长期以来，我国在无损检测方面与西方发达国家存在不小的差距，尤其是在碳纤维复合材料、陶瓷基复合材料等新型材料的无损检测方面还缺乏有效的手段。</p>
            <ul class="list-inline links">
              <li><a href="../news-post.htm" class="btn btn-default btn-xs"><i class="fa fa-circle-arrow-right"></i> 阅读全文</a></li>
              <li><a href="../news-post.htm#comments" class="btn btn-default btn-xs"><i class="fa fa-comment"></i> 0 条评论</a></li>
            </ul>
          </div>
        </div>
        
        <!-- Blog post -->
        <div class="media row">
          <div class="col-md-1 date-md"> 
            <!-- Date desktop -->
            <div class="date-wrapper"> <span class="date-m">11月</span> <span class="date-d">29</span> </div>
            <!-- Meta details desktop -->
            <p class="muted"> <i class="fa fa-user"></i> <a href="#">CQNDT</a> </p>
          </div>
          <div class="col-md-11 media-body">
            <h4 class="title media-heading"><a href="../news-post.htm">我国掌握远距离、可视化激光超声波无损检测技术</a></h4>
            
            <!-- Meta details mobile -->
            <ul class="list-inline meta text-muted">
              <li><i class="fa fa-calendar"></i> Sat 22nd Feb 2014</li>
              <li><i class="fa fa-user"></i> <a href="#">CQNDT</a></li>
            </ul>
            <a href="../news-post.htm" class="media-object"> <img src="{{STATIC_URL}}img/blog/fly.jpg" alt="Picture of frog by Ben Fredericson" class="img-responsive" /> </a>
            <p>新华网西安１１月２８日电 由西安金波检测仪器有限责任公司自主研发的激光超声波可视化检测仪，２８日在西安国家航空基地通过了陕西省科技成果鉴定，这标志着我国成功掌握了远距离、可视化激光超声波无损检测技术，大大缩小了与世界发达国家在无损检测仪器研制方面的差距。</p>
            <p>无损检测，是用非破坏方法检查材料、毛坯和零件的内部或表面缺陷并评价其整体质量的技术，又称无损探伤。长期以来，我国在无损检测方面与西方发达国家存在不小的差距，尤其是在碳纤维复合材料、陶瓷基复合材料等新型材料的无损检测方面还缺乏有效的手段。</p>
            <ul class="list-inline links">
              <li><a href="../news-post.htm" class="btn btn-default btn-xs"><i class="fa fa-circle-arrow-right"></i> 阅读全文</a></li>
              <li><a href="../news-post.htm#comments" class="btn btn-default btn-xs"><i class="fa fa-comment"></i> 0 条评论</a></li>
            </ul>
          </div>
        </div>
        
        <!-- Blog post -->
        <div class="media row">
          <div class="col-md-1 date-md"> 
            <!-- Date desktop -->
            <div class="date-wrapper"> <span class="date-m">11月</span> <span class="date-d">29</span> </div>
            <!-- Meta details desktop -->
            <p class="muted"> <i class="fa fa-user"></i> <a href="#">CQNDT</a> </p>
          </div>
          <div class="col-md-11 media-body">
            <h4 class="title media-heading"><a href="../news-post.htm">我国掌握远距离、可视化激光超声波无损检测技术</a></h4>
            
            <!-- Meta details mobile -->
            <ul class="list-inline meta text-muted">
              <li><i class="fa fa-calendar"></i> Sat 22nd Feb 2014</li>
              <li><i class="fa fa-user"></i> <a href="#">CQNDT</a></li>
            </ul>
            <a href="../news-post.htm" class="media-object"> <img src="{{STATIC_URL}}img/blog/ladybird.jpg" alt="Picture of frog by Ben Fredericson" class="img-responsive" /> </a>
            <p>新华网西安１１月２８日电 由西安金波检测仪器有限责任公司自主研发的激光超声波可视化检测仪，２８日在西安国家航空基地通过了陕西省科技成果鉴定，这标志着我国成功掌握了远距离、可视化激光超声波无损检测技术，大大缩小了与世界发达国家在无损检测仪器研制方面的差距。</p>
            <p>无损检测，是用非破坏方法检查材料、毛坯和零件的内部或表面缺陷并评价其整体质量的技术，又称无损探伤。长期以来，我国在无损检测方面与西方发达国家存在不小的差距，尤其是在碳纤维复合材料、陶瓷基复合材料等新型材料的无损检测方面还缺乏有效的手段。</p>
            <ul class="list-inline links">
              <li><a href="../news-post.htm" class="btn btn-default btn-xs"><i class="fa fa-circle-arrow-right"></i> 阅读全文</a></li>
              <li><a href="../news-post.htm#comments" class="btn btn-default btn-xs"><i class="fa fa-comment"></i> 0 条评论</a></li>
            </ul>
          </div>
        </div>
        
        <!-- Blog post -->
        <div class="media row">
          <div class="col-md-1 date-md"> 
            <!-- Date desktop -->
            <div class="date-wrapper"> <span class="date-m">11月</span> <span class="date-d">29</span> </div>
            <!-- Meta details desktop -->
            <p class="muted"> <i class="fa fa-user"></i> <a href="#">CQNDT</a> </p>
          </div>
          <div class="col-md-11 media-body">
            <h4 class="title media-heading"><a href="../news-post.htm">我国掌握远距离、可视化激光超声波无损检测技术</a></h4>
            
            <!-- Meta details mobile -->
            <ul class="list-inline meta text-muted">
              <li><i class="fa fa-calendar"></i> Sat 22nd Feb 2014</li>
              <li><i class="fa fa-user"></i> <a href="#">CQNDT</a></li>
            </ul>
            <a href="../news-post.htm" class="media-object"> <img src="{{STATIC_URL}}img/blog/frog.jpg" alt="Picture of frog by Ben Fredericson" class="img-responsive" /> </a>
            <p>新华网西安１１月２８日电 由西安金波检测仪器有限责任公司自主研发的激光超声波可视化检测仪，２８日在西安国家航空基地通过了陕西省科技成果鉴定，这标志着我国成功掌握了远距离、可视化激光超声波无损检测技术，大大缩小了与世界发达国家在无损检测仪器研制方面的差距。</p>
            <p>无损检测，是用非破坏方法检查材料、毛坯和零件的内部或表面缺陷并评价其整体质量的技术，又称无损探伤。长期以来，我国在无损检测方面与西方发达国家存在不小的差距，尤其是在碳纤维复合材料、陶瓷基复合材料等新型材料的无损检测方面还缺乏有效的手段。</p>
            <ul class="list-inline links">
              <li><a href="../news-post.htm" class="btn btn-default btn-xs"><i class="fa fa-circle-arrow-right"></i> 阅读全文</a></li>
              <li><a href="../news-post.htm#comments" class="btn btn-default btn-xs"><i class="fa fa-comment"></i> 0 条评论</a></li>
            </ul>
          </div>
        </div>
        
        <!-- Blog post -->
        <div class="media row">
          <div class="col-md-1 date-md"> 
            <!-- Date desktop -->
            <div class="date-wrapper"> <span class="date-m">11月</span> <span class="date-d">29</span> </div>
            <!-- Meta details desktop -->
            <p class="muted"> <i class="fa fa-user"></i> <a href="#">CQNDT</a> </p>
          </div>
          <div class="col-md-11 media-body">
            <h4 class="title media-heading"><a href="../news-post.htm">我国掌握远距离、可视化激光超声波无损检测技术</a></h4>
            
            <!-- Meta details mobile -->
            <ul class="list-inline meta text-muted">
              <li><i class="fa fa-calendar"></i> Sat 22nd Feb 2014</li>
              <li><i class="fa fa-user"></i> <a href="#">CQNDT</a></li>
            </ul>
            <a href="../news-post.htm" class="media-object"> <img src="{{STATIC_URL}}img/blog/ape.jpg" alt="Picture of frog by Ben Fredericson" class="img-responsive" /> </a>
            <p>新华网西安１１月２８日电 由西安金波检测仪器有限责任公司自主研发的激光超声波可视化检测仪，２８日在西安国家航空基地通过了陕西省科技成果鉴定，这标志着我国成功掌握了远距离、可视化激光超声波无损检测技术，大大缩小了与世界发达国家在无损检测仪器研制方面的差距。</p>
            <p>无损检测，是用非破坏方法检查材料、毛坯和零件的内部或表面缺陷并评价其整体质量的技术，又称无损探伤。长期以来，我国在无损检测方面与西方发达国家存在不小的差距，尤其是在碳纤维复合材料、陶瓷基复合材料等新型材料的无损检测方面还缺乏有效的手段。</p>
            <ul class="list-inline links">
              <li><a href="../news-post.htm" class="btn btn-default btn-xs"><i class="fa fa-circle-arrow-right"></i> 阅读全文</a></li>
              <li><a href="../news-post.htm#comments" class="btn btn-default btn-xs"><i class="fa fa-comment"></i> 0 条评论</a></li>
            </ul>
          </div>
        </div>

        <!--新闻分页 -->
        <div class="pagination">  
          <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
        </div>
      </div>
      
      <!--Sidebar-->
      <div class="col-md-3 sidebar sidebar-right">
        <div class="inner">
          <div class="block">
            <form role="form">
              <div class="input-group">
                <label class="sr-only" for="search-field">查找文章</label>
                <input type="search" class="form-control" id="search-field" placeholder="文章关键词">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button">查找</button>
                </span> </div>
            </form>
          </div>
          <div class="block">
            <h4 class="title-divider"><span>分类</span></h4>
            <ul class="big-list tags">
              <li><a href="#">学会新闻</a> (95)</li>
              <li><a href="#">行业动态</a> (91)</li>
              <li><a href="#">业内新闻</a> (0)</li>
              <li><a href="#">最新展会</a> (37)</li>
              <li><a href="#">技术资讯</a> (46)</li>
              <li><a href="#">规范标准</a> (46)</li>
            </ul>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <!--.container--> 
</div>
<!--#content-->



{%include 'footer.html'%}