$def with (posts)
<!-- 专家详细信息 -->
<div class="modal fade" id="moreInfo_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel">史蒂夫 乔布斯</h3>
        <h5>苹果创始人<h5>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">
            <img style="max-width:100%" src="$static/img/team/jobs_info.jpg"/>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">人物简介</div>
            <div class="panel-body">
            </div>
          </div>
        <div class="panel panel-default">
          <div class="panel-heading">工作经历</div>
            <div class="panel-body">
              史蒂夫·乔布斯（Steve Jobs）生前是苹果公司的前任首席运行官兼创办人之一，同时也是前Pixar动画公司的董事长及行政总裁（Pixar已在2006年被迪士尼收购）。乔布斯还是迪士尼公司的董事会成员和最大个人股东。
              1985年，乔布斯获得了由里根总统授予的国家级技术勋章；1987年荣获杰斐逊公众服务奖；1989年被《公司》杂志评为“十年企业家“、拥有313项发明专利；1997年成为《时代周刊》的封面人物；同年被评为最成功的管理者，是声名显赫的“计算机狂人“。 2007年，史蒂夫·乔布斯被《财富》杂志评为了年度最伟大商人。2009年被财富杂志评选为这十年美国最佳CEO，同年当选时代周刊年度风云人物之一。[12]2012年获评《时代》杂志美国最具影响力20人。[13]
            </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">荣誉奖项</div>
            <div class="panel-body">
              1985年，乔布斯获得了由里根总统授予的国家级技术勋章</br>
              1987年荣获杰斐逊公众服务奖</br>
              1989年被《公司》杂志评为“十年企业家“、拥有313项发明专利</br>
              1997年成为《时代周刊》的封面人物；同年被评为最成功的管理者，是声名显赫的“计算机狂人“。</br>
              2007年，史蒂夫·乔布斯被《财富》杂志评为了年度最伟大商人。</br>
              2009年被财富杂志评选为这十年美国最佳CEO，同年当选时代周刊年度风云人物之一。</br>
              2012年获评《时代》杂志美国最具影响力20人.
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭窗口</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

