
<div id="content">
  <div class="container">

    <h2 class="title-divider"><span>培训通知</span></h2>
    <div class="panel panel-default">
      <div class="panel-heading">通知标题<em class="pull-right"><a href="#">下载该通知文档</a></em></div>
      <div class="panel-body">
        各有关单位：
 按上级安排，中国机械工程学会无损检测分会重庆市无损检测人员培训中心于2014年4月举办磁粉探伤（MT）、超声探伤（UT）、射线探伤（RT）、渗透探伤（PT）Ⅰ级、Ⅱ级培训考核认证班（并同时办理2014年到期资格证的“复证”）。对考核认证合格者由中国无损检测学会颁发《无损检测人员技术资格证书》。此证书按GB9445-2008（等同ISO9712-2005）进行鉴定与认证，与参加欧盟系统认证的29个国家互认。现将有关事项通知如下：请贵单位指定专人将回执填好并于2014年2月28日前寄到重庆市无损检测人员培训中心。
      <br><em class="pull-right">2015年2月10日</em>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">通知标题<em class="pull-right"><a href="#">下载该通知文档</a></em></div>
      <div class="panel-body">
        各有关单位：
 按上级安排，中国机械工程学会无损检测分会重庆市无损检测人员培训中心于2014年4月举办磁粉探伤（MT）、超声探伤（UT）、射线探伤（RT）、渗透探伤（PT）Ⅰ级、Ⅱ级培训考核认证班（并同时办理2014年到期资格证的“复证”）。对考核认证合格者由中国无损检测学会颁发《无损检测人员技术资格证书》。此证书按GB9445-2008（等同ISO9712-2005）进行鉴定与认证，与参加欧盟系统认证的29个国家互认。现将有关事项通知如下：请贵单位指定专人将回执填好并于2014年2月28日前寄到重庆市无损检测人员培训中心。
      <br><em class="pull-right">2015年2月10日</em>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">通知标题<em class="pull-right"><a href="#">下载该通知文档</a></em></div>
      <div class="panel-body">
        各有关单位：
 按上级安排，中国机械工程学会无损检测分会重庆市无损检测人员培训中心于2014年4月举办磁粉探伤（MT）、超声探伤（UT）、射线探伤（RT）、渗透探伤（PT）Ⅰ级、Ⅱ级培训考核认证班（并同时办理2014年到期资格证的“复证”）。对考核认证合格者由中国无损检测学会颁发《无损检测人员技术资格证书》。此证书按GB9445-2008（等同ISO9712-2005）进行鉴定与认证，与参加欧盟系统认证的29个国家互认。现将有关事项通知如下：请贵单位指定专人将回执填好并于2014年2月28日前寄到重庆市无损检测人员培训中心。
      <br><em class="pull-right">2015年2月10日</em>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">通知标题<em class="pull-right"><a href="#">下载该通知文档</a></em></div>
      <div class="panel-body">
        各有关单位：
 按上级安排，中国机械工程学会无损检测分会重庆市无损检测人员培训中心于2014年4月举办磁粉探伤（MT）、超声探伤（UT）、射线探伤（RT）、渗透探伤（PT）Ⅰ级、Ⅱ级培训考核认证班（并同时办理2014年到期资格证的“复证”）。对考核认证合格者由中国无损检测学会颁发《无损检测人员技术资格证书》。此证书按GB9445-2008（等同ISO9712-2005）进行鉴定与认证，与参加欧盟系统认证的29个国家互认。现将有关事项通知如下：请贵单位指定专人将回执填好并于2014年2月28日前寄到重庆市无损检测人员培训中心。
      <br><em class="pull-right">2015年2月10日</em>
      </div>
    </div>
      

  </div>
  <!--.container--> 
</div>
<!--#content-->

