
<div id="content">
  <div class="container">

    <h2 class="title-divider"><span>报名流程</span></h2>
    <div class="panel panel-default">
      <div class="panel-heading">CXRZ-01-10年到期重新认证须知<em class="pull-right"><a href="#">下载相关文档</a></em></div>
      <div class="panel-body">
        中国机械工程学会无损检测学会自2007年1月1日起，按照GB9445-2008标准（等同于ISO9712-2005标准）进行无损检测人员资格认证。持证人员在第二个有效期满前（10年）可以申请办理延期手续。
      <br><em class="pull-right">2015年2月10日</em>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">YQTZ-01-5年到期延期须知<em class="pull-right"><a href="#">下载相关文档</a></em></div>
      <div class="panel-body">
        中国机械工程学会无损检测学会自2007年1月1日起，按照GB9445-2008标准（等同于ISO9712-2005标准）进行无损检测人员资格认证。持证人员在第一个有效期满前（5年）可以申请办理延期手续。
      <br><em class="pull-right">2015年2月10日</em>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">无损检测人员申请报考等级资格须知<em class="pull-right"><a href="#">下载相关文档</a></em></div>
      <div class="panel-body">
       2009年4月欧洲无损检测联合会（EFNDT）对中国机械工程学会无损检测学会（ChSNDT）申请加入欧盟无损检测人员资格认证体系进行了评审和验收。为了适应国际标准和欧洲标准（ISO9712-2005和EN473-2008）的要求，从2009年5月起学会认证体系将根据标准要求逐步进行完善，为规范学会的认证体系和按照国际标准实施认证体系所规定的内容，学会认证机构要求报考无损检测学会无损检测技术等级资格的人员，按有关规定办理申请手续，请报考人员按以下条文申请办理，也可直接到培训机构申请办理。
      <br><em class="pull-right">2015年2月10日</em>
      </div>
    </div>
    
      

  </div>
  <!--.container--> 
</div>
<!--#content-->

