{%include 'header.html' %}
<div id="content">
  <div class="container">
    <h2 class="title-divider"><span>新闻动态</span> <small><a href="../news.htm"><i class="fa fa-arrow-left"></i> 返回列表</a></small></h2>
    <div class="row"> 
      <!--Main Content-->
      <div class="col-md-9 blog-post"> 
        <!-- Blog post -->
        <div class="media row">
          <div class="col-md-1 date-md"> 
            <!-- Date desktop -->
            <div class="date-wrapper"> <span class="date-m">11月</span> <span class="date-d">29</span> </div>
            <!-- Meta details desktop -->
            <p class="text-muted"> <i class="fa fa-user"></i> <a href="#">CQNDT</a> </p>
          </div>
          <div class="col-md-11 media-body">
            <h3 class="title media-heading">我国掌握远距离、可视化激光超声波无损检测技术</h3>
            
            <!-- Meta details mobile -->
            <ul class="list-inline meta text-muted">
              <li><i class="fa fa-calendar"></i> Mon 7th Jan 2013</li>
              <li><i class="fa fa-user"></i> <a href="#">CQNDT</a></li>
            </ul>
            <img src="{{STATIC_URL}}img/blog/water-pump.jpg" alt="Picture of frog by Ben Fredericson" class="media-object img-responsive" />
            <p class="lead">新华网西安１１月２８日电 由西安金波检测仪器有限责任公司自主研发的激光超声波可视化检测仪，２８日在西安国家航空基地通过了陕西省科技成果鉴定，这标志着我国成功掌握了远距离、可视化激光超声波无损检测技术，大大缩小了与世界发达国家在无损检测仪器研制方面的差距。</p>
            <p>新华网西安１１月２８日电 由西安金波检测仪器有限责任公司自主研发的激光超声波可视化检测仪，２８日在西安国家航空基地通过了陕西省科技成果鉴定，这标志着我国成功掌握了远距离、可视化激光超声波无损检测技术，大大缩小了与世界发达国家在无损检测仪器研制方面的差距。</p>
            <p>无损检测，是用非破坏方法检查材料、毛坯和零件的内部或表面缺陷并评价其整体质量的技术，又称无损探伤。长期以来，我国在无损检测方面与西方发达国家存在不小的差距，尤其是在碳纤维复合材料、陶瓷基复合材料等新型材料的无损检测方面还缺乏有效的手段。此次我国首次成功掌握远距离、可视化激光超声波无损检测技术，是我国无损检测领域的一项重大突破。</p>
            <p>西安金波检测仪器有限责任公司是我国一家专门从事无损检测技术研发的民营企业。据西安金波检测仪器有限责任公司技术总监王波介绍，公司自主研发的这项激光超声波无损检测技术，能够利用激光产生超声波并通过其传播过程的可视化，直观地检测物体内部的损伤或缺陷。与传统无损检测技术相比，它可远距离进行无损检测，无需与材料表面接触着进行无损检测，这使得在高温、有毒等恶劣环境下方便地进行无损检测成为可能。</p>
            <p>这项技术适用于金属、陶瓷、树脂、复合材料等裂纹、腐蚀、气孔缺陷、层间脱离的检测，可在航空航天、铁路、汽车、船舶、石油、化工、电工、电子、压力容器、天然气等行业领域广泛应用，目前已在我国核电、航空、汽车等领域进行了有效使用，大大提高了我国工业产品的可靠性和安全性。</p>
          </div>
        </div>
        
        <!--Comments-->
        <div class="comments" id="comments">
          <h3>评论</h3>
          <ul class="media-list">
            <li class="media"> <a class="pull-left" href="#"> <img src="{{STATIC_URL}}img/blog/niming.jpg" alt="Picture of Joe" class="media-object img-thumbnail img-responsive" /> </a>
              <div class="media-body">
                <ul class="list-inline meta text-muted">
                  <li><i class="fa fa-calendar"></i> 2014年4月13日</li>
                  <li><i class="fa fa-user"></i> 匿名</li>
                </ul>
                <p>技术的进步，行业的进步，国家的进步！</p>
              </div>
            </li>
            <li class="media"> <a class="pull-left" href="#"> <img src="{{STATIC_URL}}img/blog/niming.jpg" alt="Picture of Alex" class="media-object img-thumbnail img-responsive" /> </a>
              <div class="media-body">
                <ul class="list-inline meta text-muted">
                  <li><i class="fa fa-calendar"></i> 2014年4月13日</li>
                  <li><i class="fa fa-user"></i> 匿名</li>
                </ul>
                <p>很高兴在这里和大家进行交流！</p>
              </div>
            </li>
            <li class="media"> <a class="pull-left" href="#"> <img src="{{STATIC_URL}}img/blog/niming.jpg" alt="Picture of Jo" class="media-object img-thumbnail img-responsive" /> </a>
              <div class="media-body">
                <ul class="list-inline meta text-muted">
                  <li><i class="fa fa-calendar"></i> 2014年4月13日</li>
                  <li><i class="fa fa-user"></i> 匿名</li>
                </ul>
                <p>这个行业正在逐渐的转为热门了。最近这些年国家对特种设备要求很严格，一些制造单位都派人去考取检测证书。暂时工作还是很容易找的，但是最好既有证书，又有经验。如果你还没有无损检测证书的话，建议你去考取国家质检总局的，很多企业需要的是这个。</p>
              </div>
            </li>
            <li class="media"> <a class="pull-left" href="#"> <img src="{{STATIC_URL}}img/blog/niming.jpg" alt="Picture of Joe" class="media-object img-thumbnail img-responsive" /> </a>
              <div class="media-body">
                <ul class="list-inline meta text-muted">
                  <li><i class="fa fa-calendar"></i> 2014年4月13日</li>
                  <li><i class="fa fa-user"></i> 匿名</li>
                </ul>
                <p>行业技术发展历程和趋势？</p>
              </div>
            </li>
          </ul>
          <form id="comment-form" class="comment-form" role="form">
            <h4>我要评论</h4>
            <div class="form-group">
              <label class="sr-only" for="comment-name">Name</label>
              <input type="text" class="form-control" id="comment-name" placeholder="昵称">
            </div>
            <div class="form-group">
              <label class="sr-only" for="comment-name">Email</label>
              <input type="email" class="form-control" id="comment-email" placeholder="电子邮箱">
            </div>
            <div class="form-group">
              <label class="sr-only" for="comment-comment">Comment</label>
              <textarea rows="8" class="form-control" id="comment-comment" placeholder="评论内容"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">提交</button>
          </form>
        </div>
      </div>
      
      <!--Sidebar-->
      <div class="col-md-3 sidebar sidebar-right">
        <div class="inner">
          <div class="block">
            <form role="form">
              <div class="input-group">
                <label class="sr-only" for="search-field">查找文章</label>
                <input type="search" class="form-control" id="search-field" placeholder="文章关键词">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button">查找</button>
                </span> </div>
            </form>
          </div>
          <div class="block">
            <h4 class="title-divider"><span>分类</span></h4>
            <ul class="big-list tags">
              <li><a href="#">学会新闻</a> (95)</li>
              <li><a href="#">行业动态</a> (91)</li>
              <li><a href="#">业内新闻</a> (0)</li>
              <li><a href="#">最新展会</a> (37)</li>
              <li><a href="#">技术资讯</a> (46)</li>
              <li><a href="#">规范标准</a> (46)</li>
            </ul>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

{%include 'footer.html'%}