<!-- FOOTER -->
<footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col">
          <div class="block contact-block">
            <!--@todo: replace with company contact details-->
            <h3 style="font-family:'微软雅黑'">联系我们</h3>
            <address>
              <ul class="fa-ul">
                <li>
                  <abbr title="Phone">
                    <i class="fa fa-li fa-phone"></i>
                  </abbr>86 023 66666666</li>
                <li>
                  <abbr title="Email">
                    <i class="fa fa-li fa-envelope"></i>
                  </abbr>service@cqndt.org</li>
                <li style="font-family:'微软雅黑'">
                  <abbr title="Address">
                    <i class="fa fa-li fa-home"></i>
                  </abbr>重庆市沙坪坝正街174号</li>
              </ul>
            </address>
          </div>
        </div>
        <div class="col-md-5 col">
          
        </div>
        <div class="col-md-4 col">
          <div class="block newsletter">
            <h3 style="font-family:'微软雅黑'">最新资讯</h3>
            <p style="font-family:'微软雅黑'">留下您常用的电子邮箱以便我们能向您发送无损检测学会的最新资讯</p>
            <!--@todo: replace with mailchimp code-->
            <form role="form">
              <div class="input-group input-group-sm">
                <label class="sr-only" for="email-field">Email</label>
                <input type="text" class="form-control" id="email-field" placeholder="Email">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button">确认</button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="toplink">
          <a href="#top" class="top-link" title="Back to top">回到顶部
            <i class="fa fa-chevron-up"></i>
          </a>
        </div>
        <!--@todo: replace with company copyright details-->
        <div class="subfooter">
          <div class="col-md-6">
            <p>Copyright 2014 © 重庆市无损检测学会 渝ICP备:XXXXXX</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

<!--Hidden elements - excluded from jPanel Menu on mobile-->
<div class="hidden-elements jpanel-menu-exclude">
    <!--@modal - signup modal-->
    <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">会员注册</h4>
          </div>
          <div class="modal-body">
            <form action="signup.htm" role="form">
              <h5>注册类型</h5>
              <select class="form-control">
                <option>个人会员</option>
                <option>企业单位</option>
                <option>理事单位</option>
              </select>
              <h5>账号信息</h5>
              <div class="form-group">
                <label class="sr-only" for="signup-name">姓名</label>
                <input type="text" class="form-control" id="signup-name" placeholder="填写姓名">
              </div>
              <div class="form-group">
                <label class="sr-only" for="signup-username">用户名</label>
                <input type="text" class="form-control" id="signup-username" placeholder="用户名">
              </div>
              <div class="form-group">
                <label class="sr-only" for="signup-password">密码</label>
                <input type="password" class="form-control" id="signup-password" placeholder="账号密码">
              </div>
              <div class="form-group">
                <label class="sr-only" for="signup-email">邮箱地址</label>
                <input type="email" class="form-control" id="signup-email" placeholder="电子邮箱">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="term">我已经阅读并接受注册相关条款</label>
              </div>
              <button class="btn btn-primary" type="submit">注册</button>
            </form>
          </div>
          <div class="modal-footer">
            <small>已经拥有会员账号请点击
              <a href="login.htm">登陆</a></small>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!--@modal - login modal-->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">登陆</h4>
          </div>
          <div class="modal-body">
            <form action="login.htm" role="form">
              <div class="form-group">
                <label class="sr-only" for="login-email">用户名</label>
                <input type="text" class="form-control" id="signup-username" placeholder="用户名">
              </div>
              <div class="form-group">
                <label class="sr-only" for="login-password">密码</label>
                <input type="password" id="login-password" class="form-control password" placeholder="账号密码">
              </div>
              <button type="button" class="btn btn-primary">登陆</button>
            </form>
          </div>
          <div class="modal-footer">
            <small>没有账号请点击
              <a href="#" class="signup">注册</a>
            </small>
            <br>
            <small>
              <a href="#">密码找回</a>
            </small>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  </div>

<!--Scripts --> 
<script src="{{STATIC_URL}}js/jquery.min.js"></script> 
<script src="{{STATIC_URL}}js/jquery-migrate-1.2.1.min.js"></script> <!--Legacy jQuery support for quicksand plugin--> 

<!-- Bootstrap JS --> 
<script src="{{STATIC_URL}}js/bootstrap.min.js"></script> 

<!--JS plugins--> 
<script src="{{STATIC_URL}}plugins/prism/prism.js"></script> 
<script src="{{STATIC_URL}}plugins/slider-revolution/rs-plugin/js/jquery.themepunch.plugins.min.js?v=4.2"></script> 
<script src="{{STATIC_URL}}plugins/slider-revolution/rs-plugin/js/jquery.themepunch.revolution.min.js?v=4.2"></script> 
<script src="{{STATIC_URL}}plugins/flexslider/jquery.flexslider-min.js"></script> 
<script src="{{STATIC_URL}}plugins/clingify/jquery.clingify.min.js"></script> 
<script src="{{STATIC_URL}}plugins/jPanelMenu/jquery.jpanelmenu.min.js"></script> 
<script src="{{STATIC_URL}}plugins/jRespond/js/jRespond.js"></script> 
<script src="{{STATIC_URL}}plugins/quicksand/jquery.quicksand.js"></script> 

<!--Custom scripts mainly used to trigger libraries --> 
<script src="{{STATIC_URL}}js/script.min.js"></script>
</body>
</html>